name: CD - app

on: [workflow_dispatch]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build updater image with Docker
        run: docker build -t updater:latest --build-arg MODE='onefile --onefile-tempdir-spec=../Cache' .

      - name: Extract single binary
        run: |
          CONTAINER_ID=$(docker create updater:latest)
          docker cp $CONTAINER_ID:/opt/updater-linux-x64.bin .
          docker rm $CONTAINER_ID

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: updater-Linux
          path: updater-linux-x64.bin

  build:
    strategy:
      matrix:
        os: [windows-2022, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install 'nuitka[onefile]'

      - name: Compile to single binary
        shell: bash
        run: |
          FILE=$(echo "updater-$RUNNER_OS-$RUNNER_ARCH" | tr '[:upper:]' '[:lower:]') && \
          python -m nuitka --onefile --onefile-tempdir-spec=../Cache --deployment \
            --assume-yes-for-downloads --python-flag=-OO \
            --output-filename=$FILE.${{ runner.os == 'Windows' && 'exe' || 'bin' }} updater.py

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: updater-${{ runner.os }}
          path: "*.${{ runner.os == 'Windows' && 'exe' || 'bin' }}"

  create_release:
    needs: [build-linux, build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download Linux artifact
        uses: actions/download-artifact@v5
        with:
          name: updater-Linux
          path: release_artifacts

      - name: Download Windows artifact
        uses: actions/download-artifact@v5
        with:
          name: updater-Windows
          path: release_artifacts

      - name: Download macOS artifact
        uses: actions/download-artifact@v5
        with:
          name: updater-macOS
          path: release_artifacts

      - name: Compute semantic version
        id: version
        run: |
          BUILD_NUMBER=$(($GITHUB_RUN_NUMBER + $GITHUB_RUN_ATTEMPT - 2))
          echo "v=v2.$(($BUILD_NUMBER / 10)).$(($BUILD_NUMBER % 10))" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b
        with:
          artifacts: release_artifacts/*
          body: Source code (zip) and Source code (tar.gz) were auto-generated by GitHub and contain the uncompiled scripts. The executables should be ran from the System folder of the game or other parallel folder.
          commit: main
          name: MF-updater ${{ steps.version.outputs.v }}
          tag: ${{ steps.version.outputs.v }}
